$main-font: "Roboto", sans-serif;
$main-font-size: 14px;
$main-line-height: 1.6em;
$main-wrapper-width: 1200px;
$main-letter-spacing: .03em;
$main-transition: all ease-in-out .15s;
$main-text-color: #212121;
$alt-text-color: #fff;

$background-section: #EFEBE9;
$background-section-alt: #212121;

$icon: solid 1px #212121;

$action-text-color: #1565C0;

$transition: all ease-in-out .15s;

$breakpoint-height: 750px;

$breakpoint-medium-width: 1250px;
$breakpoint-small-width: 850px;